body {
  line-height: 1.4em;
}
h1 {
  font-weight: bold;
  font-size: 2em;
  color: #830;
  margin: 1em 0 0 0;
}
h2, h3 {
  font-weight: bold;
  font-size: 1.5em;
  color: #999;
  margin: 1em 0 0 0;
}
h3 {
  font-size: 1em;
}
h4 {
  font-weight:bold;
  margin: 2em 0 0.5em 0;
  color: #535353;
}
form {
  line-height: .7em;
}
label {
  margin: 1.25em 0 0 0;
  padding: 1.25em 0 0 0;
}
form #url {
  min-width: 40em;
}
form #notes {
  max-width: 40em;
}
ul {
  font-size: 0.75em;
  font-weight: normal;
  color: #999;
  padding: 0.5em 0;
}
ul li {
  padding-left: 0.25em;
}
.upload_form label {
	padding: .5em 0;
	margin: 0;
}
.upload_form input#num_records {
	max-width: 10em;
}
.w6 {
  min-width: 6em;
}
.mw16 {
	max-width: 16em;
}
.w15 {
  min-width: 15em;
}
/* CHART LISTS */
.chartlist {
  font-size: 1.5em;
  float: left;
  width: 15em;
}
.chartlist li {
  position: relative;
  display: block;
  border: 1px solid #eee;
  _zoom: 1;
}
.chartlist li a {
  display: block;
  padding: 0.4em 4.5em 0.4em 0.5em;
  position: relative;
  z-index: 2;
}
.chartlist .count {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 0.3em;
  text-align: right;
  color: #999;
  font-weight: bold;
  font-size: 0.875em;
  line-height: 2em;
}
.chartlist .index {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #b8e4f5;
  text-indent: -9999px;
  overflow: hidden;
  line-height: 2em;
}
.chartlist li:hover {
  background: #efefef;
}