{% set app_url = constant('config::URL') %}
{% set upload_directory = constant('config::UPLOAD_DIRECTORY') %}
{% spaceless %}
{% autoescape false %}

{% if stats %}
<ul class="chartlist">
  <li>
    <a href="#">{{ stats.percent_complete}} up to date<br/>{{ stats.num_up_to_date_resources|number_format }} of {{ stats.num_resources|number_format }} resources</a>
    <span class="index" style="width:{{ stats.percent_complete}}">{{ stats.percent_complete}}</span>
  </li>
</ul>
<p class="stats">{{ stats.num_records|number_format }} total records</p>
{% endif %}

<table id="resources" class="tablesorter">
<thead>
  <tr><th class="w5"></th><th class="w14">Vendor-Resource Name<br/>Username :: Password</th><th class="w6">Frequency</th><th>Last load</th><th>Next load</th><th class="w14">Load records</th></tr>
</thead>
<tbody>
{% for result in results %}
{# Determine pluralization of num_records #}
{% set num_records_display %}
{% set num_records_format = result.num_records|number_format %}
{% trans %}
{{ num_records_format }} record
{% plural result.num_records %}
{{ num_records_format }} records
{% endtrans %}
{% endset %}
  <tr>
    <td class="edit" rowspan="2"><a href="edit.php?id={{ result.id }}">Edit</a></td>
    <td>
      {% if result.url %}<a href="{{ result.url|e('html') }}" class="resource">{{ result.vendor_name }}-{{ result.resource_name}}</a>{% else %}<span class="resource">{{ result.vendor_name }}-{{ result.resource_name}}</span>{% endif %}
      {% if result.username or result.password %}<br/>{{ result.username }}{% if result.password %} :: {{ result.password }}{% endif %}{% endif %}
    </td>
    <td>{{ result.frequency }}</td>
    <td>{% if result.file_exists == 'Y' %}<a href="{{ app_url }}/{{ upload_directory }}/{{ result.id }}.xml">{{ result.last_load }}</a><br/>{{ num_records_display }}{% else %}{{ result.last_load }}{% endif %}</td>
    <td>{% if result.next_load %}{{ result.next_load }}{% else %}<a href="upload.php?resource_id={{ result.id }}">Add load date</a>{% endif %}</td>
    <td>
      <form enctype="multipart/form-data" action="upload.php" method="post" class="upload_form" accept-charset="utf-8">
        <input type="hidden" name="resource_id" value="{{ result.id }}" />
        <input type="hidden" name="frequency" value="{{ result.frequency }}" />
        <input name="marc_records" type="file" />
        <input type="submit" value="upload" />
      </form>
    </td>
  </tr> 
  <tr class="tablesorter-childRow"><td colspan="5">{% if result.notes %}<em>NOTE</em>: {{ result.notes }}{% endif %}</td></tr>

{% endfor %}

</tbody>
</table>

{% endautoescape %}
{% endspaceless %}