{% set app_url = constant('config::URL') %}
{% set upload_directory = constant('config::UPLOAD_DIRECTORY') %}
{% spaceless %}
{% autoescape false %}

<ul class="chartlist">
  <li>
    <a href="#">{{ stats.percent_complete}} up to date</a>
    <span class="index" style="width:{{ stats.percent_complete}}">{{ stats.percent_complete}}</span>
  </li>
</ul><br/>

<p style="clear:both;">{{ stats.num_up_to_date_resources|number_format }} out of {{ stats.num_resources|number_format }} resources are up to date.</p>
<p><strong>Number of MARC Records</strong>: {{ stats.num_records|number_format }} (<a href="download.php">download all records</a>)</p>

<table id="resources" class="tablesorter">
<thead><tr><th></th><th class="w15">583 (Vendor-Resource Name)<br/>Username :: Password</th><th class="w6">Frequency</th><th class="w6">Last load</th><th class="w6">Next load</th><th>Load records</th><th>Notes</th></tr></thead>
<tbody>
{% for result in results %}
  <tr>
    <td><a href="edit.php?id={{ result.id }}">Edit</a></td>
    <td>{% if result.url %}<a href="{{ result.url|e('html') }}">{{ result.vendor_name }}-{{ result.resource_name}}</a>{% else %}{{ result.vendor_name }}-{{ result.resource_name}}{% endif %}
        {% if result.username or result.password %}<br/>{{ result.username }}{% if result.password %} :: {{ result.password }}{% endif %}{% endif %}</td>
    <td>{{ result.frequency }}</td>
    <td>{% if result.file_exists == 'Y' %}<a href="{{ app_url }}/{{ upload_directory }}/{{ result.id }}.xml">{{ result.last_load }}</a>{% else %}{{ result.last_load }}{% endif %}</td>
    <td>{% if result.next_load %}{{ result.next_load }}{% else %}<a href="upload.php?resource_id={{ result.id }}">Add load date</a>{% endif %}</td>
    <td class="mw16">
      <form enctype="multipart/form-data" action="upload.php" method="post" class="upload_form" accept-charset="utf-8">
        <input type="hidden" name="resource_id" value="{{ result.id }}" />
        <input type="hidden" name="frequency" value="{{ result.frequency }}" />
        <input name="marc_records" type="file" /><br/>
        <label for="num_records">Number of records: </label><input type="text" name="num_records" value="{{ result.num_records }}" id="num_records" placeholder="Numbers only">
        <input type="submit" value="upload" />
      </form>
    </td>
    <td class="mw16">{{ result.notes }}</td>
  </tr>

{% endfor %}

</tbody>
</table>

{% endautoescape %}
{% endspaceless %}