{% set app_url = constant('config::URL') %}
{% set upload_directory = constant('config::UPLOAD_DIRECTORY') %}
{% spaceless %}
{% autoescape false %}

<table id="resources" class="tablesorter">
<thead><tr><th></th><th class="w15">583 (Vendor-Resource Name)<br/>Username :: Password</th><th class="w7">Frequency</th><th class="w7">Last load</th><th>Next load</th><th class="w7"># Records</th><th>Notes</th></tr></thead>
<tbody>
{% for result in results %}
  <tr>
    <td><a href="edit.php?id={{ result.id }}">Edit</a></td>
    <td>{% if result.url %}<a href="{{ result.url|e('html') }}">{{ result.vendor_name }}-{{ result.resource_name}}</a>{% else %}{{ result.vendor_name }}-{{ result.resource_name}}{% endif %}
        {% if result.username or result.password %}<br/>{{ result.username }}{% if result.password %} :: {{ result.password }}{% endif %}{% endif %}</td>
    <td>{{ result.frequency }}</td>
    <td><a href="{{ app_url }}/{{ upload_url }}/{{ result.id }}.xml">{{ result.last_load }}</a></td>
    <td>{{ result.next_load }}<br/>
        <form enctype="multipart/form-data" action="upload.php" method="post" accept-charset="utf-8">
          <input type="hidden" name="resource_id" value="{{ result.id }}" />
          <input type="hidden" name="frequency" value="{{ result.frequency }}" />
          <input name="marc_records" type="file" />
          <input type="submit" value="upload" />
        </form>
    </td>
    <td>{{ result.num_records|number_format }}</td>
    <td>{{ result.notes }}</td>
  </tr>

{% endfor %}

</tbody>
</table>

{% endautoescape %}
{% endspaceless %}