{% spaceless %}
{% autoescape false %}

</div>
</div>
<footer id='site_footer' class='frame'>
	<div class='container'>
		<address class='right'>
			P.O. Box 26800, Provo, UT 84602-6800<br/>
			(801) 422-2927
		</address>
		<ul class='inline_list'>
			<li><a href='http://lib.byu.edu/'>Home</a></li>
			<li><a href='http://lib.byu.edu/contact/'>Contact Us</a></li>
			<li><a href='http://lib.byu.edu/site_index/'>Site Index</a></li>
			<li><a href='http://lib.byu.edu/m/'>Mobile Site</a></li>
		</ul>

		<p id='copyright'><a href='http://lib.byu.edu/services/copyright.php' title='Copyright and Use Information'>&copy; 2012 Brigham Young University</a></p>
	</div>
</footer>
</body>
</html>

{% endautoescape %}
{% endspaceless %}
