{% set app_url = constant('config::URL') %}
{% spaceless %}
{% autoescape false %}

<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

	<title>{{ title }}</title>

  <link rel='stylesheet' href='assets/styles2/styles.css' type='text/css'/>
  <script type="text/javascript" src="//use.typekit.net/cqm0tii.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- Tablesorter data -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src='lib/js/tablesorter/js/jquery.tablesorter.min.js'></script>
  <script src="lib/js/tablesorter/js/jquery.tablesorter.widgets.min.js"></script>
	<link rel="stylesheet" href="lib/js/tablesorter/css/theme.blue.css">
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $("table").tablesorter( {headers: {0:{sorter:false}, 5:{sorter:false}}, theme : 'blue', widgets : [ 'zebra', 'stickyHeaders' ], sortList: [[4,0]]} );
    }
  );
  </script>
</head>
<body>
    <header>
      <h1>MARC Record Loads</h1>
    </header>
    
    {% include '_navigation.tmpl' %}
    
    <section>

{% endautoescape %}
{% endspaceless %}
